NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlZmF1bHQiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTY0MTA0ODAwMCwiZXhwIjoyMDU2MTEyMDAwfQ.P1eZ5O9yO-yB9YgZ_a-p4qD4yB-A0P4R8pX4tA9n4zQ
NEXT_PUBLIC_API_URL=http://127.0.0.1:10000
